[package]
name = "classi-cine"
version = "0.1.4"
edition = "2021"
repository = "https://github.com/mason-larobina/classi-cine"
readme = "README.md"
authors = ["Mason Larobina <mason.larobina@pm.me>"]
description = "A filename based interactive video tagging tool."
license = "MIT"
keywords = ["bayes", "classification", "tokenization", "inference", "vlc"]
categories = ["command-line-utilities"]

[profile.perf]
inherits = "release"
debug = true

[dependencies]
ahash = "0.8.11"
chrono = "0.4"
clap = { version = "4.5", features = ["derive"] }
env_logger = "0.11"
humansize = "2.1"
itertools = "0.14"
log = "0.4"
num_cpus = "1.16"
once_cell = "1.20"
rand = "0.8"
rayon = "1.10"
regex = "1.11"
reqwest = { version = "0.12", features = ["blocking"] }
rouille = "3.6"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
textplots = "0.8"
thread-priority = "1.2"
walkdir = "2.5"
